{% extends 'master/base.html' %}

{% block content %}

<div class="container mt-4">

    <div class="d-flex justify-content-between mb-3">
        <h3>Calorie List</h3>

        <a href="{% url 'calorie_page' %}" class="btn btn-dark">
            Add
        </a>
    </div>

    <table class="table table-bordered">

        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Food Item</th>
                <th>Calories</th>
                <th width="150">Action</th>
            </tr>
        </thead>

        <tbody>

            {% for data in consumed_data %}
            <tr>

                <td>{{ forloop.counter }}</td>

                <td>{{ data.item_name }}</td>

                <td>{{ data.calorie }}</td>

                <td>

                    <a href="{% url 'calorie_page' %}?id={{ data.id }}&edit=1"
                       class="btn btn-sm btn-outline-dark">
                        Edit
                    </a>

                    <form method="POST"
                          action="{% url 'calorie_page' %}?id={{ data.id }}"
                          class="d-inline">
                        {% csrf_token %}
                        <button type="submit"
                                name="delete_calorie"
                                class="btn btn-sm btn-dark">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}